<div class="media_container">
{%- if media[id].type == "Still Image" -%}
  <picture>
    {%- if media[id].src.avif -%}
    <source srcset="{{ media[id].src.avif }}" type="image/avif">
    {%- endif -%}
    {%- if media[id].src.webp -%}
    <source srcset="{{ media[id].src.webp }}" type="image/webp">
    {%- endif -%}
    {%- if media[id].src.jpeg -%}
    <source srcset="{{ media[id].src.jpeg }}" type="image/jpeg">
    {%- endif -%}
    <img class="mx-auto mb-2" src="{{ media[id].src.jpeg }}" alt="{{ media[id].alt }}" width="{{ w }}" height="{{ h }}" loading="lazy">
  </picture>
{%- elsif media[id].type == "Sound" -%}
    <audio controls>
      <source src="{{ media[id].src }}" type="audio/mpeg">
    </audio>
{%- elsif media[id].type == "Moving Image" -%}
    <video controls width="740" height="491">
      <source src="{{ media[id].src }}" type="video/mp4">
    </video>
{%- else -%}
  {% assign item = media['sadieB&W1'] %}
  <picture>
    {%- if item.src.avif -%}
    <source srcset="{{ item.src.avif }}" type="image/avif">
      {% assign fallback = item.src.avif %}
    {%- endif -%}
    {%- if item.src.webp -%}
    <source srcset="{{ item.src.webp }}" type="image/webp">
      {% assign fallback = item.src.webp %}
    {%- endif -%}
    {%- if item.src.jpeg -%}
    <source srcset="{{ item.src.jpeg }}" type="image/jpeg">
      {% assign fallback = item.src.webp %}
    {%- endif -%}
    <img class="mx-auto mb-2" src="{{ fallback }}" alt="{{ item.alt }}" width="{{ w }}" height="{{ h }}" loading="lazy">
  </picture>
{%- endif -%}
</div>