---
layout: default.liquid
---
<h1 class="lg:text-5xl md:text-4xl text-3xl text-center pb-5 lg:pb-10 font-bold lg:mt-16 md:mt-14 sm:mt-10 mt-8">Posts</h1>
{%- for post in collections.post reversed -%}
<article class="mx-auto w-96 pb-10">
    <h2 class="lg:text-3xl text-xl font-bold hover:text-black">
        <a href="{{ post.url | url }}">
            {%- if post.data.title -%}
                {{ post.data.title }}
            {%- else -%}
                Untitled
            {%- endif -%}
        </a>
    </h2>
    <p>
        <time>
            {{ post.date | date: "%d %b %Y" }}
            by
            <a>{{ post.data.author }}</a>
        </time>
    </p>
    {% if post.data.description %}
    <p class="mt-3">
        {{ post.data.description }}
    </p>
    {% endif %}
</article>
{%- endfor -%}
